@model IEnumerable<Category>
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="col-md-6 col-sm-6">
                        <h2 style="font-size: 35px;">Kategori Ekleme Sayfası</h2>
                        <p>!!! Kategori düzenlemek isterseniz bulunan kategorinin üzerine tıklamanız yeterli. !!!</p>
                    </div> 
                    <div class="col-md-6 col-sm-6">
                        <a asp-controller="Category" asp-action="New" class="btn btn-success float-right" style="color:#fff">Yeni Kategori</a>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Kategori Adı</th>
                                        <th class="column-title">Sıra </th>
                                        <th class="column-title">Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Category s in Model)
                                    {
                                        <tr class="even pointer">
                                            <td class=" ">
                                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@s.ID">
                                                    @if (s.ParentID == null)
                                                    {
                                                        @s.Name
                                                    }
                                                    else
                                                    {
                                                        @s.ParentCategory.Name <span>&lt;</span> @s.Name
                                                    }
                                                </a>
                                            </td>
                                            <td class=" ">@s.DisplayIndex</td>
                                            <td><a asp-controller="Category" asp-action="Delete" asp-route-id="@s.ID" class="btn btn-danger">Sil</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
